{% extends 'base.html' %}


{% block content %}
<center>
 <h1>Your Booked Viewings</h1>

<table class="table table-dark table-striped table-hover table-bordered">
    {% for item in booking %}
        <tr>
            <td>
                <a href ="{% url 'view-booking' list.id %}" class="btn btn-outline-secondary btn-sm"> {{ item.booked_movie }} </a>

             </br>
            </td>
        </tr>
    {% endfor %}
</table>

<button type="button" class="btn btn-dark"><a href = "{% url 'booking' %}"> Make Booking </a></button>

{% endblock %}