<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UWEFlix</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'UWEflix_Website/site.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="content-container">
      {% block content %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endblock %}
    </div>
  </body>
</html>
