<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UWEFlix</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'UWEflix_Website/site.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="content-container">
      <div class="title"><h1>
        {% block title %}
        {% endblock %}
      </h1></div>
        {% if messages %}
          <div class="message-container">
            {% for message in messages %}
              <div class="message-content">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
