{% extends 'base.html' %}
{% block title %}
Your Booked Viewings
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
        <table class="table table-dark table-striped table-hover table-bordered">
            {% for item in list %}
                <tr>
                    <td>
                        <a href ="{% url 'view-booking' item.id %}" class="btn btn-outline-secondary btn-sm"> {{ item.booked_movie }} </a>

                        <td align="right"> 
                            <a href="{% url 'cancel-booking' item.id %}" class="btn btn-outline-danger btn-sm"> Cancel</a>
                        </td>

                    </br>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <button type="button" class="btn btn-dark"><a href = "{% url 'booking' %}"> Make Booking </a></button>

{% else %}

<h1> Must Be logged in to make a Booking!! </h1>
    </br><//br>

<button type="button" class="btn btn-dark"><a href="{% url 'login' %}"> Login Here </a></button>


{% endif %}


</table>


{% endblock %}
