{% extends 'base.html' %}

{% block content %}

<div class="title">
    <h1>Clubs</h1>
</div>

{% for item in club %}

    <div class="card">
        <div class="card-content">
            <div class="card-top">
                Club Name: {{ item.club_name }} 
                </br>
                Club Rep: {{ item.club_rep }}
            </div>

            <div class="card-buttons">
                <a href="{% url 'update-club' item.id %}" class="card-button">Update</a>
                <a href="{% url 'delete-club' item.id %}" class="card-button">Delete</a> 
            </div>
        </div>
    </div>

{% endfor %} 

<button type="button" class="btn btn-dark"><a href = "{% url 'register-club' %}"> Register Club </a></button>

{% endblock %}


