{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  <div class="title">
    <h1>Create Booking</h1>
  </div>

  <center>
  <h2>{{ showing.movie.movie_name }}</h2>
  <h3>{{ showing.date_showing }} {{ showing.time_showing }}</h3>
  Select seats:
  <br/><br/>
  
  <form method="POST" action="{% url 'process-booking' showing_id=showing.id %}">
  {% csrf_token %}
  <div class="bar">
    BACK
  </div>
  <table class="booking-seats-table">
    {% with fields_per_row=showing.screen.columns %}
    {% for field in form %}
      {% if forloop.counter0|divisibleby:fields_per_row %}
        <tr>
      {% endif %}
      <div class="booking-seat">
        <td>{{ field }}</td>
      </div>
      {% if forloop.counter|divisibleby:fields_per_row or forloop.last %}
        </tr>
      {% endif %}
    {% endfor %}
    {% endwith %}
  </table>
  <div class="bar">
    FRONT
  </div>
  <br/><br/>
  <button type="submit" class="card-button">Submit</button>
</form>
</center>

{% else %}
You need to be logged in to create a booking.
{% endif %}
{% endblock %}
