{% extends 'base.html' %}
{% block title %}
Create Booking
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="card">
    <div class="card-image">
      <img src="{{ showing.movie.movie_image.url }}">
    </div>
    <div class="card-content">
      <div class="card-top">{{ showing.movie.movie_name }}, 
            {{ showing.movie.rating }}
      </div>
      <div class="card-description">
        {{ showing.date_showing }}, {{ showing.time_showing }}
            </br></br>
        {% if showing.seats == 0 %}
            SOLD OUT
        {% else %}
        Duration: {{ showing.movie.duration }} minutes
        </br>
        Seats Available: {{ showing.available_seats }}
        </br>
        Screen Number: {{ showing.screen.screen_num }}
        </br>
        {% if showing.social_distance %}
            Social distancing required.
        {% endif %}
        {% endif %}
      </div>
      <div class="card-buttons"></div>
    </div>
  </div>
  <form method="POST" action="{% url 'process-booking' showing_id=showing.id %}">
  {% csrf_token %}
  <center><h1>Select Seats</h1></center>
  <center>
  <br/>
  <div class="bar">
    BACK
  </div>
  <table class="booking-seats-table">
    {% with fields_per_row=showing.screen.columns %}
    {% for field in booking_form %}
      {% if forloop.counter0|divisibleby:fields_per_row %}
        <tr>
      {% endif %}
      <div class="booking-seat">
        <td>{{ field }}</td>
      </div>
      {% if forloop.counter|divisibleby:fields_per_row or forloop.last %}
        </tr>
      {% endif %}
    {% endfor %}
    {% endwith %}
  </table>
  <div class="bar">
    FRONT
  </div>
  <br/><br/>
  <center><h1>Ticket Prices</h1></center>
  <table class="ticket-table">
    <tr><td>Child</td><td>£{{child_ticket.price}}</td></tr>
    <tr><td>Student</td><td>£{{student_ticket.price}}</td></tr>
    <tr><td>Adult</td><td>£{{adult_ticket.price}}</td></tr>
  <table>
  <br/>
  </center>
    <div class="form-area">
      <center><h1>Tickets</h1></center>
      <br/>
      <div class="form-label">Number of Children</div>
      {{ payment_form.children }}
      <br/><br/>
      <div class="form-label">Number of Students</div>
      {{ payment_form.students }}
      <br/><br/>
      <div class="form-label">Number of Adults</div>
      {{ payment_form.adults }}
      <br/><br/>
      <strong><p class="total-cost">TOTAL
      £<span id="total_ticket_price">0</span></p>
      </strong>
    </div>
  <div class="form-area">
      <center><h1>Payment Details</h1></center>
      <br/>
      <div class="form-label">Name</div>
      {{ payment_form.card_name }}
      <br/><br/>
      <div class="form-label">Card Number</div>
      {{ payment_form.card_number }}
      <br/><br/>
      <div class="form-label">Expiry Date</div>
      {{ payment_form.card_expire }}
      <br/><br/>
      <div class="form-label">CVV</div>
      {{ payment_form.card_cvv }}
      <br/><br/>
  </div>
  <p>Please check all information is correct before submitting. After submitting,
  payment will be immediately processed.</p>
  <center>
    <button type="submit" class="card-button" style="width:60%;">Confirm Booking & Pay</button>
  </center>
  <br/><br/>
  </form>
{% else %}
  You need to be logged in to create a booking.
{% endif %}
  <script>
    child_price = parseFloat("{{ child_ticket.price }}");
    student_price = parseFloat("{{ student_ticket.price }}");
    adult_price = parseFloat("{{ adult_ticket.price }}");

    document.getElementById('id_children').addEventListener('input', showTotalCost);
    document.getElementById('id_students').addEventListener('input', showTotalCost);
    document.getElementById('id_adults').addEventListener('input', showTotalCost);

    function showTotalCost() {
        num_children = parseInt(document.getElementById('id_children').value)
        num_students = parseInt(document.getElementById('id_students').value)
        num_adults = parseInt(document.getElementById('id_adults').value)

        total_cost = child_price * num_children + 
            student_price * num_students + 
            adult_price * num_adults;
        document.getElementById('total_ticket_price').innerHTML = total_cost;
    }
    showTotalCost();
  </script>
{% endblock %}
