{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
  <form method="POST" action = "{% url 'login' %}">
    {% csrf_token %}
    <input type="text" class="auth-input" name="username" placeholder="Username">
    <br/><br/>
    <input type="password" class="auth-input" name="password" placeholder="Password">
    <br/><br/>
    <button type="submit" class="card-button">Submit</button>
    <br/><br/>
    <center>
    <strong>Need to create an account?</strong>
    <br/><br/>
    <button type="submit" class="card-button"><a href="{% url 'register' %}">
            Create an account</a></button>
    <button type="submit" class="card-button"><a href="{% url 'register-club' %}">
            Register a club</a></button>
    </center>
  </form>
{% endblock %}
