{% extends 'base.html' %}
{% block title %}
Movie
{% endblock %}

{% block content %}
{% if perms.UWEflix_Website.add_movie %}
<a class="card-button" style="margin-bottom: 10px;" 
   href="{% url 'add-movie' %}">Add Movies</a>
{% endif %}
<form action="{% url 'search-movie' %}">
  <input type="text" class="search" name="q" placeholder="Make a search...">
</form>
{% if movie_list.has_previous %}
  <a class="card-button"
  href="{% url 'movie' %}?page={{ movie_list.previous_page_number }}">Previous</a>
{% endif %}
{% if movie_list.has_next %}
  <a class="card-button" 
  href="{% url 'movie' %}?page={{ movie_list.next_page_number }}">Next</a>
{% endif %}
{% for movie in movie_list %}
  <div class="card">
    <div class="card-image">
      <img src="{{ movie.movie_image.url }}">
    </div>
    <div class="card-content">
      <div class="card-top">
            {{ movie.movie_name }},
            {{ movie.rating }}
      </div>
      <div class="card-description">
        {{ movie.description }}
      </div>
      <div class="card-buttons">
            <a class="card-button" href="{% url 'search-showing' %}?q={{movie.movie_name}}">
        Showings</a> 
        {% if perms.UWEflix_Website.change_movie %}
        <a class="card-button" href="{% url 'update-movie' movie.id %}">
        Update</a> 
        {% endif %}
        {% if perms.UWEflix_Website.delete_movie %}
        <a class="card-button" href="{% url 'delete-movie' movie.id %}">
        Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
