{% extends 'base.html' %}
{% block title %}
{{ club.club_name }}
{% endblock %}

{% block content %}
<div class="club">
  <div class="card-content">
    <div class="club-top">
      <strong>Contact Details</strong>
    </div>
    <div class="club-details">
      Landline: {{ club.landline }}
      <br/><br/>
      Mobile : {{ club.mobile }}
      <br/><br/>
      Street : {{ club.street }}
      <br/><br/>
      City: {{ club.city }}
      <br/><br/>
      Postcode: {{ club.post_code }}
      <br/><br/>
      Rep: {{ club.club_rep }}
    </div>
    <div class="card-buttons">
    </div>
  </div>
</div>

<div class="balance">
  <div class="card-content">
    <div class="club-top">
      <strong>Balance</strong> 
    </div>
    <div class="card-description">
      <div class="balance-amount">
        Current Balance: £{{ club.account_balance }}
      </div>
    </div>
      <form method="post" action="{% url 'my-club' %}">
        {% csrf_token %}
          <h4>Payment Details</h4>
          {{ payment_form.card_name }}
          <br/><br/>
          {{ payment_form.card_number }}
          <br/><br/>
          {{ payment_form.card_expire }}
          <br/><br/>
          {{ payment_form.card_cvv }}
          <br/><br/>
          <input type="text" name="additional_payment" id="amount" placeholder="Amount">
          <br/><br/>
          <button type="submit" class="btn btn-dark">Make Payment</button>
      </form>
    </div>
</div>


{% endblock %}
