{% extends 'base.html' %}
{% block content %}
<div class="club-title">
  <h1>{{ club.club_name }}</h1>
</div>
<div class="club">
  <div class="card-content">
    <div class="club-top">
      <strong>Contact Details</strong>
    </div>
    <div class="club-details">
      Landline: {{ club.landline }}
      <br/><br/>
      Mobile : {{ club.mobile }}
      <br/><br/>
      Street : {{ club.street }}
      <br/><br/>
      City: {{ club.city }}
      <br/><br/>
      Postcode: {{ club.post_code }}
      <br/><br/>
      Rep: {{ club.club_rep }}
    </div>
    <div class="card-buttons">
    </div>
  </div>
</div>

<div class="balance">
  <div class="card-content">
    <div class="club-top">
      <strong>Balance</strong> 
    </div>
    <div class="card-description">
      <div class="balance-amount"> Current Balance: £{{ club.account_balance }} </div>
      <br/>
      <div class="outgoing-amount"> Outgoing this month: </div> 
    </div>
    <div class="card-button">Payment</div>
  </div>
</div>
{% endblock %}
