{% extends 'base.html' %}
{% block title %}
{{ club.club_name }}
{% endblock %}

{% block content %}
<div class="club">
  <div class="card-content">
    <div class="club-top">
      <strong>Contact Details</strong>
    </div>
    <div class="club-details">
    <form>
      <strong>Landline</strong>
      <br/>{{ club.landline }}
      <br/><br/>
      <strong>Mobile</strong>
      <br/>{{ club.mobile }}
      <br/><br/>
      <strong>Address</strong>
      <br/>{{ club.street_number }} {{ club.street }}, {{ club.city }}
      <br/><br/>
      <strong>Postcode</strong>
      <br/>{{ club.post_code }}
      <br/><br/>
      <strong>Representative</strong>
      <br/>{{ club.club_rep.first_name }} {{ club.club_rep.last_name }}
      ({{ club.club_rep }})
      <br/><br/>
    </div>
    </form>
    <div class="card-buttons">
    </div>
  </div>
</div>

<div class="balance">
  <div class="card-content">
    <div class="club-top">
      <strong>Balance</strong> 
    </div>
    <div class="form">
      <div class="card-description">

        <form method="post" action="{% url 'my-club' %}">
          {% csrf_token %}
          <h3>Current Balance: £{{ club.account_balance }}
          <br/>
          Outgoing this month: £{{ monthly_outgoing }}</h3>
            <h2>Payment Details</h2>
            {% for field in payment_form %}
              <div class="form-label">{{ field.label }}</div>
              {{ field }}
              <br/><br/>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-dark card-button">
        </form>
        <br/>
  </div>
</div>

{% endblock %}
