 <div class="navbar" id= "nav">
  <div class="logo">
    <a href="{% url 'home' %}">UWEFlix</a>
  </div>
    <a href="{% url 'movie' %}">Movies</a>
    <a href="{% url 'showing' %}">Showings</a>
  {% if user.is_authenticated %}
    <div class="dropdown">
        <a class="drop" href="#">Account
        </a>
      <div class="drop-content">
        {% if perms.UWEflix_Website.view_screen %}
        <a href="{% url 'screen' %}">Screens</a>
        {% endif %}
        {% if perms.UWEflix_Website.delete_club %}
        <a href="{% url 'list-club' %}">Manage Clubs</a>
        {% endif %}
        {% if perms.UWEflix_Website.view_club %}
        <a href="{% url 'my-club' %}">My Club</a>
        {% endif %}
        {% if perms.UWEflix_Website.view_ticket %}
        <a href="{% url 'edit-tickets' %}">Edit Ticket Prices</a>
        {% endif %}
        <a href="{% url 'show-bookings' %}">Your Bookings</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="displayMenu()">Menu</a>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script>
  function displayMenu() {
	var x = document.getElementById("nav");
    if (x.className === "navbar") {
        x.className += " responsive";
    } else {
        x.className = "navbar";
    }
  }
  </script>
