{% extends 'base.html' %}

{% block content %}
<center>
<h1>Screens</h1>

<br/><br/>

<table class="table table-dark table-striped table-hover table-bordered">
    {% for item in list %}
        <tr>
            <td>
                <a href ="{% url 'update-screen' item.id %}" class="btn btn-outline-secondary btn-sm"> {{ item.screen_num }} </a>

                <td>
                    Capacity: {{ item.seats }}
                </td>

                <td align="right"> 
                    <a href="{% url 'delete-screen' item.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>

            </br>
            </td>
        </tr>
    {% endfor %}
</table>

<button type="button" class="btn btn-dark"><a href = "{% url 'add-screen' %}"> Add Screen </a></button>



{% endblock %}