{% extends 'base.html' %}
{% block content %}
<div class="title">
  <h1>Your Bookings</h1>
</div>

{% for booking in bookings %}
  <div class="card">
    <div class="card-image">
      <img src="{{ booking.showing.movie.movie_image.url }}">
    </div>
    <div class="card-content">
      <div class="card-top">{{ booking.showing.movie.movie_name }}, 
            {{ booking.showing.movie.rating }}
      </div>
      <div class="card-description">
        {{ booking.showing.date_showing }}, {{ booking.showing.time_showing }}
            </br></br>
        Seats: {{ booking.seats }}
        </br>
        Screen Number: {{ booking.showing.screen.screen_num }}
        </br>
        {% if showing.social_distance %}
            Social distancing required.
        {% endif %}
      </div>
      <div class="card-buttons">
        <a class="card-button">
          Cancel Booking</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
