body {
    height: 100%;
    background: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 { margin: 0 }
* { box-sizing: border-box; 
    margin: 0; padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

.navbar {
	overflow: hidden;
	background: red;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar a {
	float: right;
	display: block;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 15px 15px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar .icon {
	display: none;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .drop {
	font-size: 17px; 
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.drop .fa-angle-double-up,
.drop:hover .fa-angle-double-down {
	display: none;
}

.drop:hover .fa-angle-double-up {
	display: inline;
}

.drop-content {
	display: none;
	position: absolute;
	background-color: red;
	min-width: 150px;
	z-index: 1;
}

.drop-content a {
	float: none;
	color: white;
	padding: 12px, 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .drop-content {
	display: block;
}

.drop-content a:hover {
	background-color: white;
    color: black;
}

.content-container {
    margin-left: 5vw;
    margin-right: 5vw;
}

.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
}
  
.message-container {
    width: 80%;
    margin: auto;
    color: white;
    background-color: red;
    min-height: 10vh;
    margin-bottom: 5vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

.search {
    margin-bottom: 5vh;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
} 

.card {
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh;
}

.card-button {
    background-color: red;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.card-button:hover {
    cursor: pointer;
}

.card-buttons {
    justify-content: flex-end;
    display: flex;
}

.card-image {
    flex: 35%;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 65%;
    margin-left: 10px;
    margin-right: 10px;
}

.card-top {
    font-size: 40px;
}

.card-rating {
    font-size: 40px;
}

.card-description {
    height: 55%;
}

.auth-input {
    width: 100%;
    height: 40px;
}

.search-form {
    width: 100%;
}

form {
    margin: auto;
}

.form-label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    height: 40px;
}

.form-textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    resize: none;
}

.form-file {
    width: 100%;
}

.form-select {
    width: 100%;
}

.payment-input {
    width: 60%;
}

.form-area {
    border-radius: 10px;
    color: white;
    background-color: red;
    padding: 20px;
    margin: auto;
    width: 100%;
    min-height: 20vh;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bar {
    width: 100%;
    background: red;
    color: white;
}

.ticket-table {
    width: 20%;
    margin: auto;
}

.ticket-table td {
    text-align: center;
    font-size: 20px;
}

.total-cost {
    font-size: 30px;
}
  
input[type="checkbox"] {
    accent-color: red;
}

.booking-seat-available {
    transform: scale(2.3);
    margin: 12px;
}

.booking-seat-reserved {
    transform: scale(2.3);
    margin: 12px;
}
  
.club-title {
    text-align: center;
    text-decoration-line: underline;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 5vh;
}
  
.club {
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh;
}

.club-top {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.club-details {
    font-size: 20px;
    padding: 2px;
}
  
.balance {
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh; 
}

.balance-amount {
    font-size: 20px;
    padding: 2px;
}

@media screen and (max-width: 600px) {
	.navbar a {
		display: none;
	}

	.navbar a.icon {
		float: right;
		display: block;
	}

	.navbar.responsive {
		position: relative;
	}

	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
		padding-left: 20px;
		border-top: 1px solid #fff;

	}

	.navbar.responsive .dropdown {
		float: none;
	}

	.navbar.responsive .drop-content {
		position: relative;
		padding-left: 30px;
		padding-right: 30px;
		background-color: red;
	}

	.navbar.responsive .drop-content a {
		border-top: 1px solid #fff;
	}

	.navbar.responsive .dropdown .drop {
		display: block;
		width: 100%;
		text-align: left;
		border-top: 1px solid #fff;
	}

	.navbar.responsive .dropdown .drop:hover {
		background-color: white;
	}
}

@media (min-width: 600px) {
    body {
        height: 100%;
    }


    .message-container {
        width: 100%;
    }

    p {
        text-align: center;
    }
  
    .content-container {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .booking-seat-available {
        transform: scale(3.0);
        margin: 20px;
    }

    .booking-seat-reserved {
        transform: scale(3.0);
        margin: 20px;
    }

    form {
        width: 80%;
    }

    .form-area {
        width: 80%;
    }
  
    .bar {
        width: 80%;
    }

    .club {
        float: left;
        width: 33vw;
    }
    
    .balance {
        float: right;
        width: 33vw;
    }

    .navbar .logo {
        float: left;
    }
}
