body {
  background: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 { margin: 0 }
nav { background: red; }
* { box-sizing: border-box; }

a { 
  color: inherit;
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    height: 100%;
  }

  nav {
    min-height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav-item {
    float: left;
  }
  
  .nav-item-auth {
    float: right;
  }

  nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 15px;
    padding-left: 15px
  }

  nav li a:hover {
    color: black;
    background: white;
  }

  .message-container {
    width: 100%;
    margin: auto;
    color: white;
    background-color: red;
    min-height: 10vh;
    margin-bottom: 5vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .content-container {
    margin-left: 15vw;
    margin-right: 15vw;
    min-height: 87vh;
  }

  .title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 25px;
  }

  p {
    text-align: center;
  }

  .search {
    margin-bottom: 5vh;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  } 

  .card {
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh;
  }

  .card-button {
    background-color: red;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .card-buttons {
    justify-content: flex-end;
    display: flex;
  }

  .card-image {
    flex: 35%;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 65%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-top {
    font-size: 40px;
  }

  .card-rating {
    font-size: 40px;
  }

  .card-description {
    height: 55%;
  }

  .club-title{
    text-align: center;
    text-decoration-line: underline;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 5vh;
  }
  
  .club {
    float: left;
    width: 750px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh;
  }

  .club-top {
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }

  .club-details{
    font-size: 20px;
    padding: 2px;
  }

  .balance{
    float: right;
    width: 750px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3vh; 
  }

  .balance-amount{
    font-size: 20px;
    padding: 2px;
  }

  .outgoing-amount{
    font-size: 20px;
    padding: 2px;
  }

  .auth-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: red;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 50vw;
    height: 60vh;
    padding: 20px;
  }

  .auth-input {
    width: 100%;
    height: 40px;
  }

  .auth-input2 {
    width: 100%;
    height: 30px;
  }

  .auth-button {
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 5vh;
  }

  .auth-button:hover {
    cursor: pointer;
  }

  .auth-extra-buttons {
    justify-content: flex-end;
    display: flex;
  }

  .auth-extra-button {
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
  }

  .bar {
    width: 60%;
    background: red;
    color: white;
  }
  
  input[type="checkbox"] {
    accent-color: red;
  }

  .booking-seat-available {
    transform: scale(3.0);
    margin: 20px;
  }

  .booking-seat-reserved {
    transform: scale(3.0);
    margin: 20px;
  }
}
